/*! REGOLE GENERALI PAGINA */

/** Reset pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Caratteristiche testo */
body {
}

/** Altezze sezioni */
.h-400 {
    height: 400px;
}

.h-450 {
    height: 450px;
}

.h-500 {
    height: 700px;
}

/*! REGOLE GENERALI FLEXBOX  */

/** Flex-container con Main-Axis orizzontale */
.flex-container-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 140px;
}

/** Figli di Flex-container-layout */
.flex-container-row > * {                        
    border: 1px dotted black;
}

/** Flex-container con Main-Axis verticale */
.flex-container-column {
    display: flex;
    flex-direction: column;
}

/*! INTESTAZIONE PAGINA */

/** Sezione Main-Header */
#main-header {
    flex-basis: 10%;
    background-color: aqua;
}

/* Barra di navigazione Header */
#flex-nav {
    height: 100%;                           /* altezza 100% rispetto al padre -> main-header */
}

/* Logo-Link-Login */
.item-nav
{
    flex-grow: 1;                                   /* Espansione dei flex-items: Logo-Link-Login*/
    background-color: yellow;
}

/* Logo nav */
.logo {
    padding: 2px;
}

/* Link nav */
.link {
    text-align: center;
}

/* Login nav */
.login {
    text-align: end;
    padding-right: 5px;
}

/** Sezione Hero-Header */
#hero-header {
    flex-basis: 90%;
    background-color: blue;
}

.item-hero {
    background-color: rgb(232, 74, 237);
    flex-basis: 80%;
    height: 80%;
}

/*! CONTENUTO PRINCIPALE */

/** Figli di main-section server discord, canale vocale e community */
.item-main-section-left {
    flex-basis: 60%;
    height: 80%;
}

.item-main-section-right {
    flex-basis: 40%;
    height: 80%;
}

/** Figlo di main-section tecnologia */
.item-main-section-full {
    flex-basis: 100%;
    height: 80%;
    background-color: green;
}

/*! COLORI BACKGROUND */

/* Colori background */
.bg-color-white {
    background-color: white;
}

.bg-color-grey { 
    background-color: grey;
}

.bg-color-pink {
    background-color: pink;
}

.bg-color-lightblue {
    background-color: lightblue;
}

/*! PIE' DI PAGINA */
footer {
    background-color: black;
    color: white;
}

/** Footer sezione link e Social */
.footer-section-link-social {
    flex-basis: 90%;
}

/* Footer sezione social */
.footer-section-social {
    flex-basis: 30%;
    height: 90%;
    background-color: rgb(200, 90, 108); 
} 

/* Footer sezione link */
.footer-section-link {
    display: flex;
    flex-basis: 70%;
    height: 90%;
    background-color: rgb(37, 125, 128);
}

/* Figli di Footer sezione link */
.footer-section-link > * {
    border: 1px dotted white;
    flex-basis: calc(100% / 4);
}

/** Footer separatore */
#footer-separatore {
    border: 1px solid white;
    width: 100%;
    background-color: rgb(200, 90, 108);
}

/** Footer sezione Logo e Bottone */
.footer-section-logo-bottone {
    flex-basis: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 192, 116);
    margin: 10px 140px 0;
}

/* Figli di Footer sezione Logo e Bottone */
.footer-section-logo-bottone > *
{
    color: black;
    border: 2px dotted black;
}

.bottone {
    padding: 2px;
}
