/*! REGOLE GENERALI PAGINA */

/** Reset pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** */
body {
    /* background-color: red; */
}

/*! REGOLE GENERALI FLEXBOX */

/** Flexbox con Main-Axis verticale */
.flex-column {
    display: flex;
    flex-direction: column;
}

/*! HEADER */
header {
    background-color: blue;
    height: 100px;
}

main {
    background-color: grey;
    height: 300px;
}

footer {
    background-color: black;
    height: 100px;
    color: white;
}
